@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');


#root {
  font-family: poppins;
  font-weight: 400;
}

.logo_blanco {
  width: 170px;
  height: 50px;
  margin-top: 23px;
  margin-left: 25px;
}

.nav {
  height: 96px;
}

.iconBlue {
  color:#0084EA;
  background-color: white;
  width: 80px;  
}

.icon_cel {
  margin: 0 30px;
}

.texto_azul {
  font-weight:600;
  color: #2738F5;
}

.titulo {
  font-weight: 600;
  margin-bottom: 2rem;
}